<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ room }} - Everybody Writes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <header>
    <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
      <a class="navbar-brand" href="/rooms/{{room}}">{{ room }} <small class="text-muted">(room)</small></a>
      <div class="collapse navbar-collapse" data-target-for="ownerControlsTemplate"><!-- ownerControlsTemplate --></div>
      <span id="userName" class="navbar-text text-warning" data-target-for="userName"><!-- user.name --></span>
    </nav>
  </header>


  <div class="d-flex">
    <form id="joinRoomWithNameForm" class="mx-auto my-5 w-50">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading text-center">Please enter your name</h4>
      </div>
      <div class="input-group input-group-lg">
        <input id="studentName" type="text" class="form-control" placeholder="John Smith">
        <span class="input-group-btn">
          <button class="btn btn-success">Enter Room</button>
        </span>
      </div>
    </form>
  </div>

  <main id="app" class="container-fluid w-100 p-0">
    <div class="row no-gutters">
      <div class="col" data-target-for="usersTemplate"><!-- usersTemplate --></div>
      <div class="col col-9 p-3">
        <div data-target-for="contentTemplate"><!-- contentTemplate --></div>
      </div>
    </div>
  </main>

  <script type="text/template" id="usersTemplate">
    <nav class="navbar navbar-inverse bg-inverse">
      <a class="text-uppercase text-muted"><small>Users <small class="text-muted">( {userCount} )</small></small></a>
      <div class="navbar-nav">
        {users}
      </div>
    </nav>
  </script>

  <script type="text/template" id="contentTemplate">
    <div class="content">
      <textarea class="form-control" data-editor>{value}</textarea>
    </div>
  </script>

  <script type="text/template" id="changeOwnerTemplate">
    <div class="content">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading text-center">Pick a user on left</h4>
      </div>
    </div>
  </script>

  <script type="text/template" id="ownerControlsTemplate">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editor Type</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Textarea</a>
          <a class="dropdown-item" href="#">Code Editor</a>
          <a class="dropdown-item" href="#">True / False</a>
          <a class="dropdown-item" href="#">Options</a>
        </div>
      </li>
      <li class="nav-item ml-2">
        <a data-trigger="randomAnswer" class="nav-link" href="javascript:void(0)"><i class="fa fa-refresh" aria-hidden="true"></i> Random Answer</a>
      </li>
      <li class="nav-item ml-2">
        <a data-trigger="changeOwner" class="nav-link" href="javascript:void(0)"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Change Owner</a>
      </li>
    </ul>
  </script>

  <script>
    const ROOM = '{{ room }}'
    const MOCKED = {{ mocked }}
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/everybody-writes.js"></script>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
